.titulo-toolbar{
    font-size: 30px;
    color: rgb(49, 171, 19);
}

ion-item{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

ion-row{
    border: 2px solid rgba(117, 222, 42, 0.545);
    border-radius: 10px;
    padding-left: 10px ;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -5px;
}


