<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-avatar>
        <img src="/assets/icon-reciclar.png" class=""/>
      </ion-avatar>
      <ion-title class="titulo-toolbar">REUSEMED</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-img src="/assets/tarjeta-geo1.png"></ion-img>

  <ion-list lines="none">

    <ion-item>
      <ion-label>España</ion-label>
    </ion-item>

    <ion-grid class="columna-verde">
      <ion-row>
        <ion-label>Córdoba</ion-label>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label>Italia</ion-label>
    </ion-item>

    <ion-grid class="columna-verde">
      <ion-row>
        <ion-label>Capannori</ion-label>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label>Jordania</ion-label>
    </ion-item>

    <ion-grid class="columna-verde">
      <ion-row>
        <ion-label>New Deir Allaa</ion-label>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label>Túnez</ion-label>
    </ion-item>

    <ion-grid class="columna-verde">
      <ion-row>
        <ion-label>Sakiet Ezzit</ion-label>
      </ion-row>
    </ion-grid>
  
  </ion-list>

  
  

  

</ion-content>
